<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aviatickets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Aviatickets</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <table>
                        <tr>
                            <td><a class="nav-link active" aria-current="page" th:href="@{/login}">SignUp</a></td>
                            <td th:if="${user}"><a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a></td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
        <span class="navbar-text" th:if="${user}">
            <span>Hello, <a th:href="@{/personal}" th:methods="POST" th:text="${user.getEmail()}"/>!</span>
        </span>
        <span class="navbar-text" th:if="${user == null}">Hello!</span>
    </div>
</nav>
<br/>
<div class="container" th:if="${statistics != null}">
    <div align="center" th:if="${not statistics.isEmpty()}">
        <h1>Aviatickets Statistics:</h1>
        <div>
            <p class="fs-3 text">Users summary: <span class="fw-bold" th:text="${statistics.size()}"></span></p>
        </div>
        <table class="table table-striped">
            <tr>
                <th scope="col">User</th>
                <th scope="col">User roles</th>
                <th scope="col">User bookings</th>
            </tr>
            <tr th:each="row : ${statistics}">
                <td><a th:href="@{/}" th:methods="GET" th:text="${row.getUser().getEmail()}"/></td>
                <td th:text="${row.getRoles()}"></td>
                <td>
                    <table class="table table-bordered">
                        <tr>
                            <th>Booking</th>
                            <th>Booking date</th>
                        </tr>
                        <tr th:each="booking : ${row.getBookings()}">
                            <td th:text="${booking.getBookRef()}"></td>
                            <td th:text="${booking.getBook_date()}"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div th:if="${statistics.isEmpty()}">
        DB problem
    </div>
</div>

</body>
</html>