<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aviatickets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Aviatickets</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <table>
                        <tr>
                            <td><a class="nav-link active" aria-current="page" th:href="@{/login}">SignUp</a></td>
                            <td th:if="${user}"><a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a></td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
        <span class="navbar-text" th:if="${user}">
            <span>Hello, <a th:href="@{/personal}" th:methods="POST" th:text="${user.getEmail()}"/>!</span>
        </span>
        <span class="navbar-text" th:if="${user == null}">Hello!</span>
    </div>
</nav>
<br/>
<div class="container" th:if="${orders != null}">
    <div align="center" th:if="${not orders.isEmpty()}">
        <h1>Your bookings:</h1>
        <table class="table">
            <tr>
                <th scope="col">Book number</th>
                <th scope="col">Date of booking</th>
                <th scope="col">Total sum of booking</th>
                <th scope="col">Remove booking</th>
            </tr>
            <tr th:each="order: ${orders}">
                <td th:text="${order.getBookRef()}"></td>
                <td th:text="${order.getBook_date()}"></td>
                <td th:text="${order.getTotal_amount()}"></td>
                <td><a th:href="@{/personal/delete/{bookRef}(bookRef=${order.getBookRef()})}" th:methods="DELETE" class="text-danger">X</a></td>
            </tr>
        </table>
    </div>
    <div align="center" th:if="${orders.isEmpty()}">
        No orders found! You should book some!
    </div>
    <a th::href="@{/}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">New booking</a>
</div>
<div th:if="${orders == null}">
    ERROR
</div>
</body>
</html>